<div class="card-header">
    <h3 class="card-title">Bordered Table</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Numbers</th>
          <th>Repeated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of tableData">
            <td>{{player.position}}</td>
            <td>{{player.userName}}</td>
            <td>{{player.number_of_single_numbers}}</td>
            <td>{{player.number_of_repeated_numbers}}</td>
 
         </tr>
      </tbody>
      
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
  </div>
<!-- /.card -->