<ion-header>
  <ion-toolbar>
    <ion-title> Ionic Classification Table </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <strong>Pos</strong>
      </ion-col>
      <ion-col size="3">
        <strong>Name</strong>
      </ion-col>
      <ion-col size="3">
        <strong>Numbers</strong>
      </ion-col>
      <ion-col size="3">
        <strong>Repeat</strong>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of tableData">
      <ion-col size="2">{{ item.position }}</ion-col>
      <ion-col size="3">{{ item.userName }}</ion-col>
      <ion-col size="3">{{ item.number_of_single_numbers }}</ion-col>
      <ion-col size="3">{{ item.number_of_repeated_numbers }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
