/* classification-table.page.scss */


  
  ion-grid {
    padding: 0;
  }
  
  ion-row {
    background-color: #ffffff;
    color: #000000; /* Black text color */
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  ion-col {
    padding: 16px;
    text-align: center;
    border-right: 1px solid #ddd; /* Border color */
    color: #000000; /* Black text color */
  }
  
  ion-row:nth-of-type(even) {
    background-color: #f9f9f9; /* Slightly different background color for even rows */
  }
  
  ion-row:hover {
    background-color: #e0e0e0; /* Background color on hover */
  }
  
  ion-header {
    background: #007bff;
    color: white;
  }
  
  ion-toolbar {
    padding: 8px 16px;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    ion-col {
      font-size: 12px;
    }
  
    ion-title {
      font-size: 18px;
    }
  }
  