<ion-header>
  <ion-toolbar>
    <ion-title> Fecha y Número </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-alert
    [isOpen]="isAlertOpen"
    trigger="open-custom-dialog"
    header="{{header}}"
    subHeader="{{subheader}}"
    message="{{message}}"
    (didDismiss)="setOpen(false)"
    [buttons]="alertButtons"
  >
    <lottie-player
      slot="message"
      autoplay
      loop
      src="https://lottie.host/8d919346-51be-45d1-b223-71f900f2b7ae/6pWG678qWj.json"
    ></lottie-player>
  </ion-alert>

  <div style="text-align: center">
    <h3>{{ todayDate }}</h3>
    <ion-item>
      <ion-input
        [clearInput]="true"
        inputmode="numeric"
        type="number"
        labelPlacement="floating"
        label="Numero de hoy"
        placeholder="Introduce un numero entre 1 y 99"
        [(ngModel)]="inputNumber"
      />
    </ion-item>
    <ion-button
      id="open-custom-dialog"
      [disabled]="!inputNumber"
      expand="full"
      (click)="sendNumber()"
      >Enviar</ion-button
    >
  </div>
</ion-content>
