#addButton {
    margin-bottom: 16%;
}

/* Style for the admin icon */
.admin-cell {
    text-align: center;
}

.admin-icon {
    font-size: 20px;
    /* Adjust size as needed */
    color: #2596be;
    /* Color of the icon */
}

/* Center-align all table elements */
.table {
    text-align: center;
    /* Center-align text in table cells */
}

.table th,
.table td {
    vertical-align: middle;
    /* Center-align content vertically */
}

.admin-cell {
    text-align: center;
    /* Center-align the admin column */
}

.admin-icon {
    font-size: 20px;
    /* Size of the icon */
    color: #2596be;
    /* Color of the icon */
}

.edit-button {
    display: flex;
    /* Use flexbox to center content in the button cell */
    justify-content: center;
    align-items: center;
}