<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="card-body">
        <div class="row">
          <div class="col-1">
            <button
              id="addButton"
              type="button"
              class="btn btn-block btn-primary"
            >
              Add User
            </button>
          </div>
        </div>

        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name & Surname</th>
              <th>UserName</th>
              <th>Total Numbers</th>
              <th>Repeated numbers</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Name & Surname</th>
              <th>UserName</th>
              <th>Total Numbers</th>
              <th>Repeated numbers</th>
            </tr>
          </tfoot>
        </table>
      </div>
      
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
