<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Brand Logo -->
    <div class="logo-container">
        <img src="../../assets/icons/Logo_HPSCDS_2025.svg" alt="Logo" class="logo" />
        <div class="logo-text">Bingo</div>
      </div>
    <!-- Sidebar -->
    <div class="sidebar">
     
        <hr>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="user/number" class="nav-link">
                        <i class="fas fa-plus"></i>
                        <p> Nuevo número</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isNumberAdded">
                    <a href="user/dashboard" class="nav-link">
                        <i class="fas fa-tachometer-alt"></i>
                        <p> Dashboard</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isNumberAdded">
                    <a href="user/data" class="nav-link">
                        <i class="fas fa-database"></i>
                        <p> Data</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="user/clasification" class="nav-link">
                        <i class="fas fa-sort-amount-down"></i>
                        <p> Clasificación</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>