<!-- Main Footer -->
<footer class="main-footer">
  <strong>Bingo Ping ID, Developed by <a href="https://github.com/falvad01" target="_blank">Javier Álvarez de Celis</a>,
    very helpful <a href="https://github.com/DavidCantCenterDivs" target="_blank">David Quintana.</a>
    Powered by <a href="https://korrekaminos.es" target="_blank">Korrekaminos (You known).</a>
    Reminders and QA by <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Íker Fernández</a> &
    <a href="https://www.youtube.com/shorts/d1TklI9InbA" target="_blank">Marcelo Tezza</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 0.4.1
  </div>
</footer>