<ion-header>
  <ion-toolbar>
    <ion-title> Number Table </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="legend">
    <div class="legend-item">
      <span class="color-box highlight-green"></span>
      <span>Marked</span>
    </div>
    <div class="legend-item">
      <span class="color-box highlight-blue"></span>
      <span>Marked and Repeated</span>
    </div>
  </div>

  <div style="justify-content: center;">
    <ion-grid class="ten-items-per-row">
      <ion-row>
        <ion-col
          *ngFor="let num of numbers"
          size="0.7"
          size-sm="0.8"
          size-md="0.8"
          size-lg="1"
          size-xl="0.9"
          [ngClass]="getHighlightClass(num)"
          class="cell"
          (mouseover)="handleMouseOver(num)"
          (mouseout)="handleMouseOut()"
        >
          <div>{{ num }}</div>
          <div *ngIf="blueNumbers.includes(num)" class="tiny-text">
            {{ getRepetitionCount(num) }}
          </div>
          <div
            class="tooltiptext"
            [ngClass]="{'show': activeNumber === num}"
          >
            {{ getTooltipMessage(num) }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
