<div class="row ">



  <div class="col-12 col-sm-6 col-md-6">
    <h5 style="text-align: center;">Top para línea</h5>
  </div>

  <div class="col-12 col-sm-6 col-md-6">
    <h5 style="text-align: center;">Top para bingo</h5>
  </div>
</div>

<div class="row ">
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-info elevation-1 first-position">1</span>
      <div class="info-box-content">
        <span class="info-box-text">{{firstLineName}}</span>
        <span class="info-box-number">{{ firstLineSubtext }}</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3 ">
      <span class="info-box-icon bg-info elevation-1 first-position">1</span>
      <div class="info-box-content">
        <span class="info-box-text">{{firstBingoName}}</span>
        <span class="info-box-number">{{firstBingoSubtext}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3 less-margin">
      <span class="info-box-icon bg-info elevation-1 second-position">2</span>
      <div class="info-box-content">
        <span class="info-box-text">{{secondLineName}}</span>
        <span class="info-box-number">{{secondLineSubtext}}</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3 less-margin">
      <span class="info-box-icon bg-info elevation-1 second-position">2</span>
      <div class="info-box-content">
        <span class="info-box-text">{{secondBingoName}}</span>
        <span class="info-box-number">{{secondBingoSubtext}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3 less-margin">
      <span class="info-box-icon bg-info elevation-1 third-position">3</span>
      <div class="info-box-content">
        <span class="info-box-text">{{thirdLineName}}</span>
        <span class="info-box-number">{{ thirdLineSubtext }}</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <div class="info-box mb-3 less-margin">
      <span class="info-box-icon bg-info elevation-1 third-position">3</span>
      <div class="info-box-content">
        <span class="info-box-text">{{thirdBingoName}}</span>
        <span class="info-box-number">{{thirdBingoSubtext}}</span>
      </div>
    </div>
  </div>
</div>
