.less-margin {
    margin-top: -12px;
}

.first-position {
    background-color: gold !important;
    color: black !important;
}

.second-position {
    background-color: silver !important;
    color: black !important;
}

.third-position {
    background-color: #CD7F32 !important;
    color: black !important;
}

