<div class="card">
  <div class="card-header">
    <h5 class="card-title">Tu tabla de numeros</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let num of numbers" class="cell" [ngClass]="getHighlightClass(num)">
        <div>{{ num }}</div>
        <div *ngIf="blueNumbers.includes(num)" class="tiny-text">
          {{ getRepetitionCount(num) }}
        </div>
      </div>
    </div>
    <div class="legend mt-4">
      <div class="legend-item">
        <div class="color-box highlight-green"></div> Solo ha salido una vez
      </div>
      <div class="legend-item">
        <div class="color-box highlight-blue"></div> Ha salido multiples veces
      </div>
    </div>
  </div>
</div>
