<div class="card">
  <div class="card-header">
    <h5 class="card-title">Tabla de usuarios</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let num of numbers" class="cell" [ngClass]="getHighlightClass(num.number)"
        pTooltip="{{getTooltipMessage(num.dates)}}" tooltipPosition="top" placeholder="Top">
        <div class="text">{{ num.number }}</div>
        <div *ngIf="num.count > 1" class="tiny-text">
          {{ num.count }}
        </div>
      </div>
    </div>
    <div class="legend mt-4">
      <div class="legend-item">
        <div class="color-box highlight-green"></div> Solo ha salido una vez
      </div>
      <div class="legend-item">
        <div class="color-box highlight-blue"></div> Ha salido multiples veces
      </div>
    </div>
  </div>
</div>