<div class="numbers-card">
  <div class="numbers-header">
    <h3 class="numbers-title">
      <i class="fas fa-th"></i>
      Todos los números
    </h3>
  </div>
  <div class="numbers-body">
    <div class="numbers-grid">
      <div *ngFor="let num of numbers" class="cell" [ngClass]="getHighlightClass(num.number)"
        pTooltip="{{getTooltipMessage(num.users)}}" tooltipPosition="top">
        <div class="text">{{ num.number }}</div>
        <div *ngIf="num.repetitions > 1" class="tiny-text">
          {{ num.repetitions }}
        </div>
      </div>
    </div>
    <div class="legend">
      <div class="legend-item">
        <div class="color-box highlight-green"></div> Ha salido una vez
      </div>
      <div class="legend-item">
        <div class="color-box highlight-blue"></div> Ha salido más de una vez
      </div>
    </div>
  </div>
</div>