<div class="card">
  <div class="card-header">
    <h5 class="card-title">Todos los números</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let num of numbers" class="cell" [ngClass]="getHighlightClass(num.number)"
           pTooltip="{{getTooltipMessage(num.users)}}" tooltipPosition="top">
        <div class="text">{{ num.number }}</div>
        <div *ngIf="num.repetitions > 1" class="tiny-text">
          {{ num.repetitions }}
        </div>
      </div>
    </div>
    <div class="legend mt-4">
     
      <div class="legend-item">
        <div class="color-box highlight-green"></div> Ha salido una vez
      </div>
      <div class="legend-item">
        <div class="color-box highlight-blue"></div> Ha salido más de una vez
      </div>
    </div>
  </div>
</div>
