<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="component-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item>
      <ion-input placeholder="Selected day"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input placeholder="Selected day bet"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-datetime slot="content"></ion-datetime>
  </ion-list>

</ion-content>
